extends layout

block content
  div
    | $$
    |   \newcommand{\red}[1]{ \color{red}{#1} }
    |   \newcommand{\setR}{ \mathbf{R} }
    |   \newcommand{\opensets}[1]{ \mathscr{#1} }
    |   \newcommand{\closedsets}[1]{ \mathscr{#1} } 
    |   \newcommand{\define}{ \overset{def}{\iff} }
    |   \newcommand{\defeq}{ \overset{def}{=} }
    | $$

  h1= title
  p Welcome to #{title}
